<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.NoteMapper">

	<insert id="insertNote" parameterType="PersonDO" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO sys_notes(id,content,handle_date) VALUES('hello',#{content},now())
	</insert>

	<update id="update" parameterType="PersonDO">
		UPDATE person SET
		name=#{name},age=#{age} WHERE id=#{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		DELETE FROM person WHERE
		id=#{id}
	</delete>

	<select id="selectPersonById" resultType="map">
		select * from
		course_detail where id = #{id}
	</select>

	<select id="selectAll" resultType="map">
		SELECT * from
		sys_course_detail
		<if test="newest != null">
			order by course_date desc limit 15
		</if>
		<if test="hot != null">
			order by course_braise desc limit 15
		</if>
	</select>
	<select id="selectByCourseName" resultType="map">
		SELECT * from
		sys_course_detail where book_name like '%${courseName}%'
	</select>
	<select id="selectMyAttention" resultType="map">
		SELECT * from
		sys_my_attention where teacher_id= #{id}
	</select>


</mapper>