<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.NoteMapper">

	<insert id="insertNote"  >
		INSERT INTO sys_notes(id,content,handle_date) VALUES(#{id},#{content},now())
	</insert>

	<update id="updateContent" >
		UPDATE sys_notes SET
		content=#{content} WHERE id=#{id}
	</update>

	<delete id="deleteNote" >
		DELETE FROM sys_notes WHERE
		id=#{id}
	</delete>

	<select id="queryContents" resultType="map">
		select * from
		sys_notes order by handle_date desc
	</select>

	<select id="selectContent" resultType="int">
		SELECT count(*) from
		sys_notes where id=#{id}
	</select>
	<select id="selectByCourseName" resultType="map">
		SELECT * from
		sys_course_detail where book_name like '%${courseName}%'
	</select>
	<select id="selectMyAttention" resultType="map">
		SELECT * from
		sys_my_attention where teacher_id= #{id}
	</select>


</mapper>